@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.white {
    color: white;
}

.mt-10 {
    margin-top: 10px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.bd-b {
    border-bottom: 1px solid rgba(218, 214, 214, 0.39);
}

.p-text {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #29675c;
    font-size: 1.8rem;
    font-family: 'Times New Roman';
}

.hotp-text {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #72b70f;
}

.star-color {
    color: red;
}

.man-profile {
    height: 600px;
    padding: 10px 0px;
    background-color: blanchedalmond;
}

.list {
    min-height: 800px;
    background-color: rgb(233, 233, 233);
}

.btn-profile {
    background-color: #29675c;
    border: 1px solid #29675c;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 30px;
}

.btn-profile:hover {
    color: black;
    border: outset;
}

.image-holder {
    width: 100%;
    height: 180px;
    display: block;
}

.img-products {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.disable {
    pointer-events: none;
    opacity: 0.6;
}

.text-uppercase {
    text-transform: uppercase;
}

.ul-detail li {
    list-style: none;
    color: #747c87;
}

th {
    text-transform: uppercase;
}

.paid-button {
    font-weight: bold;
}

.detail-button:hover {
    background-color: #31bafd !important;
    font-weight: bold;
}

.delete-button:hover {
    background-color: rgb(255, 0, 0) !important;
    font-weight: bold;
}

.top-btn {
    margin: 20px 0px;
}

.choose-btn {
    padding: 12px 30px;
}

.btn-default {
    font-weight: bold !important;
}

.spacer-detail {
    width: 100%;
    padding: 20px 0px;
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: 40px;
}

.properties-listing h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.ul-detail .li-detail {
    font-size: 1.2em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.dacdiem {
    font-size: 0.9em;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.properties-listing h3 {
    line-height: 40px;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.box-contact {
    border: 1px solid #ebedf0;
    border-radius: 4px;
    padding: 16px 0;
    margin-bottom: 16px;
    background-color: rgb(231, 231, 231);
}

.box-contact .user {
    padding: 0 16px;
}

.box-contact .user .avatar {
    text-align: center;
}

.box-contact .user .avatar img {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    margin-bottom: 8px;
    border: 1px solid #ebedf0;
}

.box-contact .user .name {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -.16px;
    color: #2c2f36;
    margin-bottom: 4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.box-contact .user .phone {
    border-radius: 4px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    background: #29675c;
    padding: 0 16px;
}

.box-contact .user .phone span {
    font-size: 14px;
    font-weight: 500;
}

.phoneEvent {
    position: relative;
    letter-spacing: 1.4px;
}

.showHotline {
    display: inline-block;
}

.properties-listing div.properties .address {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    color: #D2B48C;
}

.pro-info p {
    font-weight: bold;
    font-size: 1.3rem;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    width: 30px;
    height: 60px;
}

.image-gallery-slides {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(164, 164, 164, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.properties-listing p {
    font-family: 'Roboto', sans-serif;
}

.area {
    color: #747c87;
}

.navbar-right>li>a {
    font-family: 'Roboto', sans-serif !important;
}

.btn-bott>li>a {
    padding: 10px 60px;
    border: 1px solid RGB(41,103,92);
    word-spacing: 2px;
    letter-spacing: 1px;
}

.btn-topp>li>a {
    font-size: 10px;
    letter-spacing: 0.7px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #CC5500 !important;
}