@import "~react-image-gallery/styles/css/image-gallery.css";

.white {
    color: white;
}

.mt-10 {
    margin-top: 10px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.bd-b {
    border-bottom: 1px solid rgba(218, 214, 214, 0.39);
}

.p-text {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #72b70f;
}

.hotp-text {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #72b70f;
}

.star-color {
    color: red;
}

.man-profile {
    height: 600px;
    padding: 10px 0px;
    background-color: blanchedalmond;
}

.list {
    min-height: 800px;
    background-color: rgb(233, 233, 233);
}

.btn-profile {
    background-color: #31bafd;
    border: 1px solid #2b9ed8;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 30px;
}

.btn-profile:hover {
    color: black;
    border: outset;
}

.address {
    text-transform: uppercase;
    font-weight: 900;
}

.image-holder {
    width: 100%;
    height: 180px;
    display: block;
}

.img-products {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.disable {
    pointer-events: none;
    opacity: 0.6;
}

.text-uppercase {
    text-transform: uppercase;
}

.ul-detail li {
    list-style: none;
}

th {
    text-transform: uppercase;
}

.paid-button {
    font-weight: bold;
}

.detail-button:hover {
    background-color: #31bafd !important;
    font-weight: bold;
}

.delete-button:hover {
    background-color: rgb(255, 0, 0) !important;
    font-weight: bold;
}

.top-btn {
    margin: 20px 0px;
}

.choose-btn {
    padding: 12px 30px;
}

.btn-default {
    font-weight: bold !important;
}

.spacer-detail {
    width: 100%;
    padding: 20px 0px;
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: 40px;
}

.properties-listing h4 {
    font-size: 1.4em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}

.ul-detail .li-detail {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.dacdiem {
    font-size: 0.9em;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.properties-listing h3 {
    line-height: 40px;
    font-size: 2em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.box-contact {
    border: 1px solid #ebedf0;
    border-radius: 4px;
    padding: 16px 0;
    margin-bottom: 16px;
    background-color: rgb(231, 231, 231);
}

.box-contact .user {
    padding: 0 16px;
}

.box-contact .user .avatar {
    text-align: center;
}

.box-contact .user .avatar img {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    margin-bottom: 8px;
    border: 1px solid #ebedf0;
}

.box-contact .user .name {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -.16px;
    color: #2c2f36;
    margin-bottom: 4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.box-contact .user .phone {
    border-radius: 4px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    background: #008f3d;
    padding: 0 16px;
}

.box-contact .user .phone span {
    font-size: 14px;
    font-weight: 500;
}

.phoneEvent {
    position: relative;
    letter-spacing: 1.4px;
}

.showHotline {
    display: inline-block;
}